* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 81%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(219, 29%, 14%);
}

p {
    font-size: 13px;
    line-height: 1.5;
}

.quote-highlight {
    margin-bottom: 1rem;
}

.quote-highlight p {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas: "grid-area-1 grid-area-1 grid-area-2 grid-area-5" "grid-area-3 grid-area-4 grid-area-4 grid-area-5";
}

.testimonial-card {
    box-shadow: 0.5rem 0.75 0.5rem hsl(0, 0%, 81%);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.card-head {
    display: flex;
}

.person {
    margin-left: 1rem;
}

.profile img {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.grid-item-1 {
    grid-area: grid-area-1;
}

.grid-item-2 {
    grid-area: grid-area-2;
}

.grid-item-3 {
    grid-area: grid-area-3;
}

.grid-item-4 {
    grid-area: grid-area-4;
}

.grid-item-5 {
    grid-area: grid-area-5;
}

.bg-light {
    background: hsl(0, 0%, 100%);
}

.bg-dark {
    background: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.bg-gray {
    background: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.bg-purple {
    background: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}